<h2 class="text-center">Send Feedback</h2>
<form class="feedback-new needs-validation" action="/api/feedbacks" method="POST" novalidate>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group name">
        <label for="input-name">Full Name</label>
        <input name="name" type="text" class="form-control" id="input-name" aria-describedby="name-help" required>
        <small id="name-help" class="form-text text-muted">You should write your full name</small>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group email">
        <label for="input-email">Email Address</label>
        <input name="email" type="email" class="form-control" id="input-email" aria-describedby="phone-number-help" required>
        <small id="phone-number-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group phone-number">
        <label for="input-phone-number">Phone Number</label>
        <input name="phoneNumber" type="tel" class="form-control" id="input-phone-number" aria-describedby="phone-number-help" required>
        <small id="phone-number-help" class="form-text text-muted">We inform you by SMS</small>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group title">
        <label for="input-title">Message Title</label>
        <input name="title" type="text" class="form-control" id="input-title" required>
      </div>
    </div>
  </div>
  <div class="form-group message">
    <label for="input-message">Message</label>
    <textarea name="message" class="form-control" id="input-message" cols="30" rows="10" aria-describedby="message-help" required></textarea>
    <small id="message-help" class="form-text text-muted">Leave your message and we will not call</small>
  </div>
  <hr>
  <div class="button-group d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-send">Send feedback</button>
  </div>
</form>
<script src="/js/page-modules/feedback.js"></script>
