<div class="row">
  <form class="login needs-validation offset-lg-3 col-lg-6  offset-md-2 col-md-8 offset-1 col-10 d-flex flex-column align-items-stretch" action="/api/users/login" method="POST">
    <div class="form-group username">
      <label for="input-username">User name</label>
      <input name="username" type="text" class="form-control" id="input-username" required>
    </div>
    <div class="form-group password">
      <label for="input-password">Password</label>
      <input name="password" type="password" class="form-control" id="input-password" required>
    </div>
    <hr>
    <button type="button" class="btn btn-primary btn-login">login</button>
  </form>
</div>
<script src="/js/page-modules/login.js"></script>
