<div class="modal" id="modal-success-save" tabindex="-1" role="dialog" aria-labelledby="saveLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveLabel">Сохранение успешно завершено!</h5>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-success-send" tabindex="-1" role="dialog" aria-labelledby="sendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendLabel">Сообщение успешно отправлено!</h5>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="errorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorLabel">Ошибка отправки данных на сервер!</h5>
      </div>
      <div class="modal-body">
        <p class="error"></p>
      </div>
    </div>
  </div>
</div>
